# Angular specific
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Node
/node_modules
npm-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# dotenv (caso use)
.env
.env.local
.env.*.local

# Caches
.eslintcache
.stylelintcache
