<a
  class="related-promotion-item"
  [routerLink]="['/promocoes', promotion.id]"
  [attr.aria-label]="'Ver detalhes da oferta ' + promotion.title"
>
  <app-promotion-image [promotion]="promotion" />
  <div class="related-promotion-item__info">
    <h3>{{ promotion.title }}</h3>
    <app-promotion-price [promotion]="promotion" />
    <div class="related-promotion-item__meta">
      <span class="related-promotion-item__store">{{ promotion.storeName }}</span>
      <span class="related-promotion-item__age">
        <span class="related-promotion-item__trigger" aria-hidden="true">
          <img src="/brand/lupa.svg" alt="" />
        </span>
        {{ publishedAgo }}
      </span>
    </div>
  </div>
</a>
