<span
  *ngIf="hasDealSignal"
  class="promotion-signal promotion-signal--deal"
  [attr.aria-label]="dealSignalLabel"
  [attr.title]="dealSignalLabel"
  tabindex="0"
>
  <img src="/brand/discount-tag.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" />
</span>

<span
  *ngIf="hasReviewSignal"
  class="promotion-signal promotion-signal--review"
  [class.promotion-signal--trusted-marketplace]="isTrustedMarketplaceSignal"
  [attr.aria-label]="reviewSignalLabel"
  [attr.title]="reviewSignalTitle"
  tabindex="0"
>
  <img
    *ngIf="isTrustedMarketplaceSignal; else reviewShield"
    src="/brand/trusted-marketplace.svg"
    alt=""
    aria-hidden="true"
    loading="lazy"
    decoding="async"
  />
  <ng-template #reviewShield>
    <img src="/brand/shield.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" />
  </ng-template>
</span>

<span
  *ngIf="promotion.warningBadge && isShippingWarning"
  class="promotion-signal promotion-signal--shipping"
  [attr.aria-label]="warningBadgeDescription"
  [attr.title]="warningBadgeDescription"
  tabindex="0"
>
  <svg viewBox="0 0 32 24" aria-hidden="true" focusable="false">
    <path
      d="M2.8 4.5c0-1 .8-1.8 1.8-1.8h14.2c1 0 1.8.8 1.8 1.8v2.8h4.3c.6 0 1.1.3 1.5.8l3 4.2c.2.3.4.7.4 1.1v4.3c0 .9-.7 1.7-1.7 1.7h-1.2c-.4 1.5-1.8 2.6-3.5 2.6s-3.1-1.1-3.5-2.6h-9.5C10 20.9 8.6 22 6.9 22s-3.1-1.1-3.5-2.6H2.8c-.9 0-1.7-.8-1.7-1.7V6.2c0-.9.8-1.7 1.7-1.7Zm17.8 5.2v6.9h8v-2.8l-2.9-4.1h-5.1ZM6.9 19.8c.8 0 1.4-.6 1.4-1.4S7.7 17 6.9 17s-1.4.6-1.4 1.4.6 1.4 1.4 1.4Zm16.5 0c.8 0 1.4-.6 1.4-1.4S24.2 17 23.4 17s-1.4.6-1.4 1.4.6 1.4 1.4 1.4Z"
    />
  </svg>
</span>

<span
  *ngIf="promotion.warningBadge && isMarketplaceWarning"
  class="promotion-signal promotion-signal--warning"
  [attr.aria-label]="warningBadgeDescription"
  [attr.title]="warningBadgeDescription"
  tabindex="0"
>
</span>

<span
  *ngIf="promotion.warningBadge && !isShippingWarning && !isMarketplaceWarning"
  class="promotion-badge promotion-badge--warning"
  [attr.aria-label]="warningBadgeDescription"
  [attr.title]="warningBadgeDescription"
  tabindex="0"
>
  {{ promotion.warningBadge }}
</span>

<span
  *ngIf="promotion.couponCode"
  class="promotion-badge promotion-badge--coupon"
  [attr.aria-label]="couponBadgeDescription"
  [attr.title]="couponBadgeDescription"
  tabindex="0"
>
  Cupom: {{ promotion.couponCode }}
</span>

<a
  *ngIf="promotion.shippingInfo === 'Prime'"
  class="promotion-badge promotion-badge--prime"
  routerLink="/servicos"
  fragment="amazon-prime"
  aria-label="Entender Amazon Prime"
  title="Entender Amazon Prime"
  (click)="$event.stopPropagation()"
>
  Prime
</a>
